.auto-style2 {
    margin-left: 80px;
    height: 50px;
    width: 245px;
}

.auto-style8 {
    width: 211px;
    height: 50px;
}

.auto-style9 {
    width: 245px;
}

.auto-style10 {
    height: 45px;
    width: 245px;
}

.auto-style11 {
    height: 45px;
    width: 211px;
}

.auto-style12 {
    width: 211px;
}
